main {
    height: fit-content;
    margin: 150px 0 80px;
}

.product {
    width: max-content;
    margin: auto;
}

.product .heading {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-content {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: start; 
    gap: 16px; 
}

.product-box {
    width: 100%;
    max-width: 400px;
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 60px 10px rgba(55, 55, 55, 0.12); 
    border-radius: 15%;
    position: relative;
    transition: all .355s ease;
}
.product-box img {
    width: 100%;
    height: auto;
}
.product-box img:hover {
    filter: brightness(40%)
}


.product-box h2 {
    text-align: center;
    line-height: 1.2;
}
